<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="be.absi.evsdemo.Salesforce.Properties.SalesforceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <be.absi.evsdemo.Salesforce.Properties.SalesforceSettings>
            <setting name="Username" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>securitytoken</value>
            </setting>
        </be.absi.evsdemo.Salesforce.Properties.SalesforceSettings>
    </applicationSettings>
</configuration>